<form class="form-horizontal" (submit)="onRegisterSubmit()">
  <fieldset>
    <legend>Register</legend>
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <input type="text" [(ngModel)]="name" class="form-control" name="name" placeholder="Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" [(ngModel)]="email" class="form-control" name="email" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputUserName" class="col-lg-2 control-label">User Name</label>
      <div class="col-lg-10">
        <input type="text"  [(ngModel)]="username" class="form-control" name="username" placeholder="User Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" [(ngModel)]="password" class="form-control" name="password" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10">
        <button type="submit" class="btn btn-success" id="inputConfirmPassword">Register</button>
      </div>
    </div>
  </fieldset>
</form> 