<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MEAN App</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a [routerLinkActive]="['active']" [routerLink]="['/']">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLinkActive]="['active']" [routerLink]="['/register']">Register</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/login']">LogIn</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>